<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header.ejs') -%>
    <main>
        <h1>Страница про нас</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Harum expedita maxime esse, illum id exercitationem omnis sint! Iusto tempore modi magnam eum, animi optio ipsa odit dolor totam illo voluptatem.</p>
    </main>
</body>
</html>