<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header.ejs') -%>
    <main>
        <h1>Главная страница</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae, cum ab. Voluptatibus reiciendis placeat dolore doloremque itaque. Aperiam iure reiciendis odit, accusamus inventore sapiente praesentium similique at officiis tenetur eius!</p>
    </main>
</body>
</html>